h2{
    background-color: cyan;
}
#my-title{
    color: darkmagenta;
    font-size: 20px;
}
.title-style{
    color: darkviolet;
    font-weight: bold;
}
.btn{
    font-size: 20px;
    width: 100px;
    height: 50px;
    border-radius: 50px;
    margin: 20px;
    padding: 10px;
}
.btn2{
    background-color:blue;
    color: black;
    font-size: 20px;
    width: 100px;
    height: 50px;

}
.btn-position{
    position:absolute;
    top: 10%;
    left: 50%;
}
.box-position{
    position:absolute;
    top: 10%;
    left: 50%;
}